<h1>Cosplay Party Time</h1><br>
<h2>Party Name</h2>
<form action="/party/{{party.id}}?_method=GET" method="GET">
<div class="form-input">
    <label for="partyName">Party Name</label> <br>
    <input type="text" value = 'Enter party name here'>
</div>
</form>
<form action="/host/{{host.id}}?_method=GET" method="GET">
<div class="form-input">
    <label for="HostName">Host Name</label> <br>
    <input type="text" value = 'Enter host here'>
</div>  
</form>
<button><p>New Party/Host</p></button><br><br>
<input type="text" value={{hostName}}><br><br>
<button type="submit">Host Login</button>
