<h1>Cosplay Party Time</h1>
<br>
<h2>Party Name</h2>
    <a href="/hosts">
        <button>Show all hosts</button>
    </a>
<form action="/party/{{party._id}}?_method=GET" method="GET">
    <div class="form-input">
        <label for="partyName">Party Name</label>
        <br>
        <br>
        <input type="text" value='Enter party name here' name="sPartyName">
        <br>
        <br>
    </div>
</form>
<form action="/host/{{host._id}}?_method=GET" method="GET">
    <div class="form-input">
        <label for="HostName">Host Name</label>
        <br>
        <br>
        <input type="text" value='Enter host here'>
        <br>
        <br>
    </div>
</form>
<form action="" method="GET"></form>
<button>
    <p>New Party/Host</p>
</button>
<br>
<br>
<input type="text" value='Enter host name here'>
<br>
<br>
<button type="submit">Host Login</button>