<h1>Cosplay Party Time</h1><br>
<h2>Party Name</h2>
<input type="text" value={{sPartyName}}>
<h2></h2>
<input type="text" value={{sHostName}}><br><br>
<button><p>New Party/Host</p></button><br><br>
<input type="text" value={{hostName}}><br><br>
<button type="submit">Host Login</button>
