<div class="stepper">
    <a href="/users">Home</a> / New Profile
</div>
<div class="note">

    <h2>Edit Host Info</h2>
    <div>
        <form action="/hosts/{{host._id}}?_method=PUT" method="POST">
            <div class="form-input">
                <label for="name">name</label>
                <input type="text" name="name" required/>
            </div>

            <div class="form-input">
                <label for="contactEmail">Email</label>
                <input type="text" name="contactEmail" />
            </div>

            <div class="form-input">
                <label for="contactEmail">Email</label>
                <input type="text" name="contactEmail" />
            </div>
            <div class="form-input">
                <label for="contactNumber">Phone Number</label>
                <input type="text" name="contactNumber" />
            </div>

            <div class="form-input">
                <label for="pictureUrl">Photo Url</label>
                <input type="text" name="pictureUrl" />
            </div>
            <div class="button-container flex-end">
                <input class="button primary" type="submit" value="Create Host">
                <a href="/hosts/{{host._id}}" class="button warning">Cancel</a>
            </div>
        </form>
    </div>
</div>