<div class="stepper">
    <a href="/hosts">Home</a> New Host Info
</div>
<div class="note">

    <h2>New Host Info</h2>
    <div class = "newWarper">
        <form action="/hosts" method="POST">
            <div class="form-input">
                <label for="name">Name</label>
                <input type="text" name="name" required>
            </div>

            <div class="form-input">
                <label for="contactEmail">Email</label>
                <input type="text" name="contactEmail">
            </div>

            <div class="form-input">
                <label for="contactNumber">Phone Number</label>
                <input type="text" name="contactNumber">
            </div>

            <div class="form-input">
                <label for="pictureUrl">Photo Url</label>
                <input type="text" name="pictureUrl">
            </div>
            <div class="button-container flex-end">
                <input class="button primary" type="submit" value="Create Host">
                <a href="/hosts" class="button warning">Cancel</a>
            </div>
        </form>
    </div>
</div>