<div class="stepper">
    <a href="/hosts">Home</a>
</div>

<h1>{{host.name}}</h1>
<div class="user-holder">
    <ul>
        <h2> Email address {{host.contactEmail}}
    </ul>
    <ul>
        <h2> Phone Number {{host.contactEmail}}
    </ul>
    <ul>
        <h2> Email address {{host.contactEmail}}
    </ul>
</div>